<!--include header -->
<%- include('include/_header') %>
<!-- / include header-->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
       <div class=".box-nav.d-flex justify-between">
           <div class = "filter">
               <a href="/"> <i class = "fas fa-abngle-double-left"> All Requests</i></a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark"> New Request</h2>
            <span class="text-light">Use the below form to create a new request. If you require addtional resources the administration will connect with you via email.  Thank You!</span>

        </div>

        <!--add user form-->
        <%- include('include/_form') %>
    </div>
</main>
<!-- /Main Site -->


<!--include footer -->
<%- include('include/_footer') %>
<!-- / include footer-->